<div class="topNav clearfix">
  <!-- <div class="show pull-left">
    <div id="notification">
      <span class="p1 fa-stack fa-2x has-badge" data-count="4">
        
        <i class="p3 fa fa-bell fa-stack-1x xfa-inverse" data-count="4b"></i>
      </span>
    </div>
    </div>-->
  <div class="show pull-right">
  <div id="notification" class="pr-2">
      <span class="p1 fa-stack fa-1x has-badge" data-count="4">
        <!--<i class="p2 fa fa-circle fa-stack-2x"></i>-->
        <i class="p3 fa fa-bell fa-stack-1x xfa-inverse" data-count="4b"></i>
      </span>
    </div>
    <form>
        <div class="form-group">
           <div class="drop-down">    
               <select name="options">     
               <option class="en" value="en" 
               style="background-image:url('images/flag-ind.png'); background-repeat: no-repeat"></option>        
               <option class="us" value="us"
               style="background-image:url('images/flag-us.png'); background-repeat: no-repeat"></option>    
               <option class="uk" value="uk"
               style="background-image:url('images/flag-uk.png'); background-repeat: no-repeat"></option>    
               </select>     
           </div> 
        </div>
        
      </form>
      <div class="profileCon"><img src="images/profile-img.png" alt="profile"/></div>
    </div>
</div>