<div class="container-fluid gridBody">
        
  <h5>PURCHASE AREA</h5>
             
    <div class="center-block">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel active">
<div class="panel-heading active" role="tab" id="headingOne">
<h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  Common
</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse  in  show" role="tabpanel" aria-labelledby="headingOne">
<div class="panel-body">
<ul>
  <li>
      <img src="images/vendor-icon.png" alt="">
      <a href="grid.html">Vendor</a>
    </li>
    <li>
      <img src="images/purchase-icon.png" alt="">
      <a href="grid.html">Purchase</a>
    </li>
    <li>
      <img src="images/order-icon.png" alt="">
      <a href="grid.html">Order</a>
    </li>
    <li>
      <img src="images/payment-icon.png" alt="">
      <a href="grid.html">Payment</a>
    </li>
    <li>
      <img src="images/invoice-icon.png" alt="">
      <a href="grid.html">Invoice</a>
    </li>
    <li>
      <img src="images/agreement-icon.png" alt="">
      <a href="grid.html">Agreement</a>
    </li>
</ul>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
<h4 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
  Report
</a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
<ul>
  <li>
      <img src="images/report-icon.png" alt="">
      <a href="grid.html">Vendor<br>Aging</a>
    </li>
    <li>
      <img src="images/report-icon.png" alt="">
      <a href="grid.html">Account<br>Statement</a>
    </li>
    <li>
      <img src="images/report-icon.png" alt="">
      <a href="grid.html">Invoice<br>Specification</a>
    </li>
    <li>
      <img src="images/report-icon.png" alt="">
      <a href="grid.html">Vendor<br>Transaction<br>Report</a>
    </li>
    <li>
      <img src="images/report-icon.png" alt="">
      <a href="grid.html">Invoice<br>Journal</a>
    </li>
    <li>
      <img src="images/report-icon.png" alt="">
      <a href="grid.html">Product<br>Receipt</a>
    </li>
</ul>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
<h4 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
  Setup
</a>
</h4>
</div>
<div id="collapseThree" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
<ul>
  <li>
      <img src="images/setup-icon.png" alt="">
      <a href="grid.html">Payment<br>Method</a>
    </li>
    <li>
      <img src="images/setup-icon.png" alt="">
      <a href="grid.html">Delivery<br>Term</a>
    </li>
    <li>
      <img src="images/setup-icon.png" alt="">
      <a href="grid.html">Charges<br>Code</a>
    </li>
    <li>
      <img src="images/setup-icon.png" alt="">
      <a href="grid.html">Terms of<br>Payment</a>
    </li>
    <li>
      <img src="images/setup-icon.png" alt="">
      <a href="grid.html">Cash<br>Discount</a>
    </li>
    <li>
      <img src="images/setup-icon.png" alt="">
      <a href="grid.html">Parameters</a>
    </li>
</ul>
</div>
</div>
</div>
</div>
</div>

</div>