<div class="container-fluid gridBody">
        
  <h5>PAYROLL AREA PAGE</h5>
             
    <div class="center-block">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
<h4 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
  Payroll
</a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
<ul class="hrListing">
  <li>
      <img src="{{'../assets/images/payroll-icon.png'}}" alt="">
      <a href="setup.html">Setup</a>
    </li>
    <li>
      <img src="{{'../assets/images/payroll-icon.png'}}" alt="">
      <a href="payday.html">Payday</a>
    </li>
    
</ul>
</div>
</div>
</div>

</div>
</div>

</div>