
    <nav class="navbar p-0">
    <ul class="navbar-nav" >
        <li class="nav-item"> <a class="nav-link" routerLink="home"> <img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Home</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="purchase"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Purchase</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="sale"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Sale</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="general-ledger"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">General Ledger</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="inventory"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Inventory</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="production"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Production</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="fixed-assets"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Fixed Assets</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="pay-roll"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Payroll</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="hr-form"><img src="{{'../assets/images/arrow-list.png'}}" alt="arrow" class="arrow">Human Resources</a> </li>
      </ul>
      
    </nav>
 