<div class="container-fluid gridBody">
        
  <h5>HR AREA PAGE</h5>
             
    <div class="center-block">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
<h4 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
  Human Resource
</a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
<ul class="hrListing">
  <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="organization.html">Organization</a>
    </li>
    <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="department.html">Department</a>
    </li>
    <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="position.html">Position</a>
    </li>
    <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="employee.html">Employee</a>
    </li>
    <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="recruitment.html">Recruitment</a>
    </li>
  <li>
    <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="team-main.html">Team</a>
    </li>
     <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="approval.html">Approval Process</a>
    </li>
  <li>
    <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="leave-employee.html">Leave Management</a>
    </li>
     <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="appraisal.html">Appraisal</a>
    </li>
    <li>
      <img src="{{'../assets/images/hr-icon.png'}}" alt=""/>
      <a href="employee-request.html">Employee Request</a>
    </li>
</ul>
</div>
</div>
</div>

</div>
</div>

</div>