<div class="container-fluid gridBody " id="form2">
                  
  <div class="center-block">
<div class="panel-group">

<div class="clearfix"></div>
<div class="panel panel-default clearfix">
<div class="panel-head">
<div class="panel-title">
<h6>Ledger Calenders</h6>

</div>
</div>

<div id="coa-custom">

<div class="formBody clearfix top-border">
<div class="row">
<div class="col-2 col-md-2 col-sm-6 col-xs-6">

  <p class="pheading">Fiscal Year</p></div>
<div class="col-2 col-md-2 col-sm-6 col-xs-6">
   <form>
      <div class="form-group pull-left">
        <div class="styled-select slate">
          <select class="form-control" id="country" name="country">
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
          </select>
        </div>
      </div>
      
    </form>
   </div>
  </div>

<div class="row">
<div class="col-6 col-md-6">
      <table class="table greyBorder mb-4">
<caption>Ledger Calenders</caption>
<thead>
<tr class="lightGreen">

<th>Period</th>
<th>Start Date</th>
<th>End Date</th>
<th>Period Status</th>

</tr>
</thead>
<tbody>
<tr>

<td>Period 1</td>
<td>01-04-2018</td>
<td>01-05-2018</td>

<td class="">
                       <select class="form-control" name="quantity">
                        <option>Period Status</option>
                        <option>Open</option>
                        <option>Close</option>
                        <option>On-hold</option>
                      </select>
                
 </td>

</tr>      
<tr class="lightGrey">

<td>Period 2</td>
<td>01-04-2018</td>
<td>01-05-2018</td>
<td class="">
                       <select class="form-control" name="quantity">
                        <option>Period Status</option>
                        <option>Open</option>
                        <option>Close</option>
                        <option>On-hold</option>
                      </select>
                
 </td>

</tr>
<tr>

<td>Period 3</td>
<td>01-04-2018</td>
<td>01-05-2018</td>

<td class="">
                       <select class="form-control" name="quantity">
                        <option>Period Status</option>
                       <option>Open</option>
                        <option>Close</option>
                        <option>On-hold</option>
                      </select>
                
 </td>

</tr>      




</tbody>
</table>
</div></div>
<div class="row">
<div class="col-6 col-md-6">
<table class="table greyBorder mb-4">
<caption>Module Access Level</caption>
<thead>
<tr class="lightGreen">

<th>Module</th>
<th>Access Level</th>
<th>User Group</th>


</tr>
</thead>
<tbody>
<tr>

<td>Sale</td>
<td class="">
                       <select class="form-control" name="quantity">
                        <option></option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                
 </td>
<td class="">
                       <select class="form-control" name="quantity">
                        <option></option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                
 </td>



</tr>      
<tr class="lightGrey">

<td>Purchase</td>
<td class="">
                       <select class="form-control" name="quantity">
                      <option></option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                
 </td>
<td class="">
                       <select class="form-control" name="quantity">
                        <option></option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                
 </td>

</tr>
<tr>

<td>Production</td>
<td class="">
                       <select class="form-control" name="quantity">
                       <option></option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                
 </td>
<td class="">
                       <select class="form-control" name="quantity">
                        <option></option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                
 </td>

</tr>      




</tbody>
</table>
</div></div>
      </div>

</div>
</div>


<div class="buttonCon pull-left pl-3">
  <button type="submit" class="btn templateBg">Submit</button>
  <button type="submit" class="btn templateBg">Cancel</button>
  </div>

</div>
</div>

</div>