<div id="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 col-md-2 templateBg navHeight p-0">
      <div class="smLogo">
       <!-- <img src="images/sm-logo.png" alt=""/> -->
       <img src="{{'../assets/images/sm-logo.png'}}">
      </div>
       <app-side-nav></app-side-nav>
      </div>
      <div class="col-10 col-md-10 p-0"> 
      <app-header></app-header>
     
        <router-outlet></router-outlet>
        
      </div>
   <app-footer></app-footer>
    </div>
  </div>
</div>