<div class="container-fluid gridBody">
  <div class="buttonCon pull-right">
    <button type="submit" class="btn templateBg"><img src="{{'../assets/images/new-icon.png'}}" alt="new">New</button>
      <button type="submit" class="btn templateBg" onclick="javascript: document.location.href='area-page.html'"><img src="{{'../assets/images/back-icon.png'}}" alt="back">Back</button>
      <button type="submit" class="btn templateBg"><img src="{{'../assets/images/home-icon.png'}}" alt="home">Home</button>
  </div>
    <h5>ALL VENDORS</h5>
      <div class="show pull-left">
      <p>Show</p>
       <form>
          <div class="form-group">
            <div class="styled-select slate">
              <select class="form-control" id="country" name="country">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
              </select>
            </div>
          </div>
          
        </form>
        <p>Entries</p>
      </div>
      <div class="pull-right">
      <div class="input-group mb-2">
          <input class="form-control border-secondary" type="search" placeholder="search">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
              <img src="{{'../assets/images/search-icon.png'}}" alt="search"> </button>
          </div>
      </div>
      </div>
       <table class="table greyBorder mb-4">
<thead>
<tr class="lightGreen">
  <th>HEADING 1</th>
  <th>HEADING 2</th>
  <th>HEADING 3</th>
  <th>HEADING 4</th>
  <th>HEADING 5</th>
  <th>HEADING 6</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>      
<tr class="lightGrey">
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>
<tr>
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>      
<tr class="lightGrey">
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>
<tr>
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>      
<tr class="lightGrey">
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>
<tr>
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>      
<tr class="lightGrey">
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>
<tr>
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>      
<tr class="lightGrey">
  <td>Content 1</td>
  <td>Content 2</td>
  <td>Content 3</td>
  <td>Content 4</td>
  <td>Content 5</td>
  <td>Content 6</td>
</tr>

</tbody>
</table>

<div class="buttonCon pull-left">
    <button type="submit" class="btn templateBg"><img src="{{'../assets/images/edit-icon.png'}}" alt="edit">Edit</button>
      <button type="submit" class="btn templateBg" data-toggle="modal" data-target="#successPopup"><img src="{{'../assets/images/save-icon.png'}}" alt="save">Save</button>
      <button type="submit" class="btn templateBg" data-toggle="modal" data-target="#deletePopup"><img src="{{'../assets/images/delete-icon.png'}}" alt="delete">Delete</button>
      <button type="submit" class="btn templateBg"><img src="{{'../assets/images/download-icon.png'}}" alt="download">Download</button>
  </div>
  </div>
